.header {
  border: 1px solid sienna;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.nav-items ul {
  display: flex;
}

.nav-items li {
  margin-right: 20px;
  font-size: 24px;
  list-style: none;
}

.body {
  margin: 5px;
  padding: 20px;
  border: 1px solid saddlebrown;
}

.retro-container, .shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.restro-card ,.shimmer-card {
  padding: 5px;
  margin: 10px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.5px 0.5px steelblue;
  border-radius: 10px;
  height: 450px;
  max-height: 450px;
}

.restro-card:hover {
  cursor: pointer;
  border: 1px solid tomato;
}

.restro-logo , .shimmer-logo {
  width: 100%;
  height: 200px;
}

.filter {
  display: flex;
}

.filter button {
  margin: 5px;
}

.shimmer-card {
  height: 400px;
}

.shimmer-effect {
  background-color: #eef0f5;
}

.shimmer-elements {
  height: 30px;
  width: 100px;
  margin: 5px;
}

.restaurant-detail {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}

.restaurant-menu-accordian {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

.restaurant-menu-accordian-title {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.menu-item-img {
  background-color: rgba(40,44,63,.05);
  background-blend-mode: overlay;
  height: 96px;
  border-radius: 6px;
}

.menu-item-description {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40,44,63,.45);
  width: 70%;
  letter-spacing: -.3px;
}

.restaurant-info .name {
  font-size: 1.43rem;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.restaurant-info .cuisines {
  font-size: .93rem;
    color: #7e808c;
    height: calc(0.93rem + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dotted #7e808c;
}

.rating-info {
  display: block;
  text-align: center;
  padding: 8px;
  width: 60px;
  height: 60px;
  border: 1px solid #7e808c;
  border-radius: 10px;
}

.rating-info .star {
  margin: 0;
  color: #3d9b6d;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}

.rating-info .review {
  margin: 0;
  font-size: 11px;
  color: #8b8d97;
  font-weight: 600;
}

.other-info {
  display: flex;
  justify-content: left;
}

.other-info p {
  margin-right: 20px;
}

.retro-container a {
  text-decoration: none;
  color: inherit;
}

.user-card {
  padding: 10px;
  border: 1px solid brown;
  margin: 10px;
}