.header {
  border: 1px solid sienna;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.nav-items ul {
  display: flex;
}

.nav-items li {
  margin-right: 20px;
  font-size: 24px;
  list-style: none;
}

.body {
  margin: 5px;
  padding: 20px;
  border: 1px solid saddlebrown;
}

.retro-container, .shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.restro-card ,.shimmer-card {
  padding: 5px;
  margin: 10px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.5px 0.5px steelblue;
  border-radius: 10px;
}

.restro-card:hover {
  cursor: pointer;
  border: 1px solid tomato;
}

.restro-logo , .shimmer-logo {
  width: 100%;
  height: 40%;
}

.filter {
  display: flex;
}

.filter button {
  margin: 5px;
}

.shimmer-card {
  height: 400px;
}

.shimmer-effect {
  background-color: #eef0f5;
}

.shimmer-elements {
  height: 30px;
  width: 100px;
  margin: 5px;
}